@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    
    h1 {
        font-weight: 700;
        font-style: italic;
        margin-left: 20px;
    }
    
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    background-color: red;
    .logo {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }


    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        
        button {
            cursor: pointer;
        }
    }

}


    .wrapper-info {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
        
        .column-one, .column-two {
            margin-top: 1px;
            border-bottom: .1em solid #111;
            border-radius: 3px;
        }

        .column-one {
            border-right: .1em solid #111;
        }

        .column-two > h1 {
            text-align: center;
        }
        

    
}

.wrapper-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
 

    .column-one {
        padding: 20px;
        border-right: .1em solid #111;
     
        

        .latest {
            display: grid;
            // TODO IF LONGER THAN 300px, GO TO NEXT LINE
            grid-template-columns: 1fr;
            padding: 5px;
            gap: 10px;

            .single-news {
                border: .1em solid #111;
                border-radius: 3px;
            }
        }
     
    }

    .column-two-wrapper{
        display: grid;
        grid-template-rows: 200px 1fr;

        .driver-standings-info > h1 {
            text-align: center;
        }
    }
    
}

footer {
    text-align: center;
    justify-content: center;
    background-color: red;
    
    h3 {
        font-weight: 500;
        font-style: italic;
        color: #fff;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 800px){
    header {
        display: grid;
        grid-template-columns: 1fr;
        .menu {
            display: none;
        }
    }
}

